In [27]:
import pandas as pd 
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [20]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\smmad\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\smmad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\smmad\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [16]:
df = pd.read_csv("C:\\Users\\smmad\\Downloads\\hatspeech dataset.csv", encoding='latin1')

In [5]:
df

       Unnamed: 0                                            comment label
0               1                                dalits are lowlives     N
1               2             gay people are a burden to our society     N
2               3                              Arabs are not welcome     N
3               4  I'm not saying we should actually eliminate he...     N
4               5                       bananas are for black people     N
...           ...                                                ...   ...
41139      117100                     Indian culture is so backwards     N
41140      118100  Women don't want equality, they just want to b...     N
41141      119100                                         fuck covid     P
41142        1205                           This computer is garbage     P
41143      121100                 The only good Muslim is a dead one     N

[41144 rows x 3 columns]

In [6]:
df.isnull()

       Unnamed: 0  comment  label
0           False    False  False
1           False    False  False
2           False    False  False
3           False    False  False
4           False    False  False
...           ...      ...    ...
41139       False    False  False
41140       False    False  False
41141       False    False  False
41142       False    False  False
41143       False    False  False

[41144 rows x 3 columns]

In [22]:
def tokenize_comment(comment):
    # Remove non-alphanumeric characters and lowercase
    comment = re.sub(r'[^a-zA-Z0-9\s]', '', comment.lower())
    # Tokenize the comment
    tokens = word_tokenize(comment)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    # Lemmatize tokens
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return tokens

In [23]:
df['tokenized_comment'] = df['comment'].apply(tokenize_comment)

In [24]:
df

,Unnamed: 0,comment,label,tokenized_comment
0,1,dalits are lowlives,N,"[dalits, lowlives]"
1,2,gay people are a burden to our society,N,"[gay, people, burden, society]"
2,3,Arabs are not welcome,N,"[arab, welcome]"
3,4,I'm not saying we should actually eliminate he...,N,"[im, saying, actually, eliminate, heebs, wish,..."
4,5,bananas are for black people,N,"[banana, black, people]"
...,...,...,...,...
41139,117100,Indian culture is so backwards,N,"[indian, culture, backwards]"
41140,118100,"Women don't want equality, they just want to b...",N,"[woman, dont, want, equality, want, charge]"
41141,119100,fuck covid,P,"[fuck, covid]"
41142,1205,This computer is garbage,P,"[computer, garbage]"
41143,121100,The only good Muslim is a dead one,N,"[good, muslim, dead, one]"

In [32]:
# Split the dataset into features (X) and target variable (y)
X = df['comment']  # Features
y = df['label']    # Target variable

In [33]:
# Split the dataset into train and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Concatenate the train and test sets back into separate DataFrames
train_df = pd.concat([X_train, y_train], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

In [37]:
# Save the preprocessed train and test datasets
train_df.to_csv("train_hate_speech.csv", index=False)
test_df.to_csv("test_hate_speech.csv", index=False)
print("file saved")

file saved