In [5]:
import pandas as pd

In [8]:
try:
  df = pd.read_csv('hatespeech dataset.csv', encoding='utf-8')
except UnicodeDecodeError:
  try:
    df = pd.read_csv('hatespeech dataset.csv', encoding='latin-1')
  except UnicodeDecodeError:
    print("Couldn't determine encoding. Check file manually or try specifying a different encoding.")

In [19]:
df

       Unnamed: 0                                            comment label
0               1                                dalits are lowlives     N
1               2             gay people are a burden to our society     N
2               3                              Arabs are not welcome     N
3               4  I'm not saying we should actually eliminate he...     N
4               5                       bananas are for black people     N
...           ...                                                ...   ...
41139      117100                     Indian culture is so backwards     N
41140      118100  Women don't want equality, they just want to b...     N
41141      119100                                         fuck covid     P
41142        1205                           This computer is garbage     P
41143      121100                 The only good Muslim is a dead one     N

[41144 rows x 3 columns]

In [23]:
df.isnull().any()

Unnamed: 0    False
comment       False
label         False
dtype: bool

In [24]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41139    False
41140    False
41141    False
41142    False
41143    False
Length: 41144, dtype: bool