## Importing Libraries

In [4]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
!pip install imbalanced-learn
from imblearn.over_sampling import SMOTE
from sklearn.feature_extraction.text import TfidfVectorizer

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.3-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\suman\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\suman\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\suman\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.5.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\suman\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\suman\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn) (3.5.0)
Downloading imbalanced_learn-0.12.3-py3-none-any.whl (258 kB)
   ---------------------------------------- 0.0/258.3 kB ? eta -:--:--
   - -------------------------------------- 10.2/258.3 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/258.3 kB 435.7 kB/s eta 0:00:01
   ------ -------------------------------- 41.0/258.3 kB 393.8 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/258.3 kB 409.6 kB/s eta 0:00:01
   ------------- ------------------------- 92.2/258.3 kB 435.7 kB/s eta 0:00:01
   ------------------ ------------------- 122.9/258.3 kB 479.3 kB/s eta 0:00:01
   --------------------------- ---------- 184.3/258.3 kB 617.3 kB/s eta 0:00:01
   ---------------------------------- --- 235.5/258.3 kB 654.9 kB/s eta 0:00:01
   -------------------------------------- 258.3/258.3 kB 689.1 kB/s eta 0:00:00
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.12.3

## Loading the Dataset

In [5]:
data = pd. read_csv('dataset1_utf8.csv',encoding='latin1')

In [6]:
data

       Unnamed: 0                                            comment label
0               1                                dalits are lowlives     N
1               2             gay people are a burden to our society     N
2               3                              Arabs are not welcome     N
3               4  I'm not saying we should actually eliminate he...     N
4               5                       bananas are for black people     N
...           ...                                                ...   ...
41139      117100                     Indian culture is so backwards     N
41140      118100  Women don't want equality, they just want to b...     N
41141      119100                                         fuck covid     P
41142        1205                           This computer is garbage     P
41143      121100                 The only good Muslim is a dead one     N

[41144 rows x 3 columns]

In [7]:
import pandas as pd

# Load the dataset
data = pd.read_csv('dataset1_utf8.csv', encoding='latin1')

# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(data.head())

# Display basic information about the dataset
print("\nBasic information about the dataset:")
print(data.info())

# Check for missing values
print("\nMissing values in the dataset:")
print(data.isnull().sum())

# Get basic statistical details
print("\nBasic statistical details of the dataset:")
print(data.describe(include='all'))

# Display the column names
print("\nColumn names in the dataset:")
print(data.columns)

First few rows of the dataset:
   Unnamed: 0                                            comment label
0           1                                dalits are lowlives     N
1           2             gay people are a burden to our society     N
2           3                              Arabs are not welcome     N
3           4  I'm not saying we should actually eliminate he...     N
4           5                       bananas are for black people     N

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41144 entries, 0 to 41143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  41144 non-null  int64
 1   comment     41144 non-null  object
 2   label       41144 non-null  object
dtypes: int64(1), object(2)
memory usage: 964.4+ KB
None

Missing values in the dataset:
Unnamed: 0    0
comment       0
label         0
dtype: int64

Basic statistical details of the dataset:
           Unnamed: 0                   comment  label
count    41144.000000                     41144  41144
unique            NaN                     41134      3
top               NaN  Blacks are such pondlife      N
freq              NaN                         5  22158
mean     20703.991056                       NaN    NaN
std      12580.884040                       NaN    NaN
min          1.000000                       NaN    NaN
25%      10295.750000                       NaN    NaN
50%      20593.500000                       NaN    NaN
75%      30894.250000                       NaN    NaN
max     331000.000000                       NaN    NaN

Column names in the dataset:
Index(['Unnamed: 0', 'comment', 'label'], dtype='object')

# Distribution of labels

In [8]:
print(data['label'].value_counts())  
data.isnull().any()

label
N    22158
P    18950
O       36
Name: count, dtype: int64

Unnamed: 0    False
comment       False
label         False
dtype: bool

In [9]:
# Check for duplicates
duplicate_rows = data[data.duplicated()]

# Display the duplicate rows
print("Duplicate rows in the dataset:")
print(duplicate_rows)

# Count of duplicate rows
num_duplicates = duplicate_rows.shape[0]
print(f"\nNumber of duplicate rows: {num_duplicates}")

Duplicate rows in the dataset:
Empty DataFrame
Columns: [Unnamed: 0, comment, label]
Index: []

Number of duplicate rows: 0

In [10]:
import pandas as pd

# Load the dataset
data = pd.read_csv('dataset1_utf8.csv', encoding='latin1')

# Display the column names
print("Column names in the dataset:")
print(data.columns)

Column names in the dataset:
Index(['Unnamed: 0', 'comment', 'label'], dtype='object')

In [15]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\suman\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\suman\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\suman\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [12]:
def clean_text(text):
    text = text.lower()  # Convert text to lowercase
    text = re.sub(r'\W', ' ', text)  # Remove non-word characters
    text = re.sub(r'\s+', ' ', text)  # Remove extra whitespace
    text = re.sub(r'(.)\1{2,}', r'\1', text)# Replace sequences of the same characters
    return text

In [13]:
data['clean_text'] = data['comment'].apply(clean_text)

In [14]:
data['clean_text']

0                                      dalits are lowlives
1                   gay people are a burden to our society
2                                    arabs are not welcome
3        i m not saying we should actually eliminate he...
4                             bananas are for black people
                               ...
41139                       indian culture is so backwards
41140    women don t want equality they just want to be...
41141                                           fuck covid
41142                             this computer is garbage
41143                   the only good muslim is a dead one
Name: clean_text, Length: 41144, dtype: object