In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv('Preprocessed_Final_dataset.csv',encoding = 'latin1')
data.head()

,comment,label,clean_text,tokens,text
0,dalits are lowlives,N,dalits are lowlives,"['dalits', 'lowlives']",dalits lowlives
1,gay people are a burden to our society,N,gay people are a burden to our society,"['gay', 'people', 'burden', 'society']",gay people burden society
2,Arabs are not welcome,N,arabs are not welcome,"['arab', 'welcome']",arab welcome
3,I'm not saying we should actually eliminate he...,N,i am not saying we should actually eliminate h...,"['say', 'actually', 'eliminate', 'heebs', 'wis...",say actually eliminate heebs wish naturally be...
4,bananas are for black people,N,bananas are for black people,"['bananas', 'black', 'people']",bananas black people

# TF-IDF Vectorizer

### TF-IDF is the importance of a term is inversely related to its frequency across documents.TF gives us information on how often a term appears in a document and IDF gives us information about the relative rarity of a term in the collection of documents. By multiplying these values together we can get our final TF-IDF value.The higher the TF-IDF score the more important or relevant the term is; as a term gets less relevant, its TF-IDF score will approach 0.

In [7]:
# Drop rows with NaN values in the 'clean_text' column
data = data.dropna(subset=['text'])

# Remove leading and trailing whitespace from the 'clean_text' column
data['text'] = data['text'].str.strip()

In [14]:
# Transform text to TF-IDF features with a limit on max features
tfidf_vectorizer = TfidfVectorizer(max_features=1000)
X = tfidf_vectorizer.fit_transform(data['text'])

# Label Encoding:

### LabelEncoder converts the categorical label into numeric labels.This is useful for classification tasks where the target variable needs to be in numerical format.

In [15]:

# Encode the labels
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(data['label'])
tfidf_df = pd.DataFrame(X.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
tfidf_df['label'] = y

In [16]:
print(tfidf_df.head())

   able  absolute  absolutely  abuse  accept  accord  account  across  act  \
0   0.0       0.0         0.0    0.0     0.0     0.0      0.0     0.0  0.0
1   0.0       0.0         0.0    0.0     0.0     0.0      0.0     0.0  0.0
2   0.0       0.0         0.0    0.0     0.0     0.0      0.0     0.0  0.0
3   0.0       0.0         0.0    0.0     0.0     0.0      0.0     0.0  0.0
4   0.0       0.0         0.0    0.0     0.0     0.0      0.0     0.0  0.0

   action  ...  would  wow  write  wrong  yeah  year  yes  yet  young  label
0     0.0  ...    0.0  0.0    0.0    0.0   0.0   0.0  0.0  0.0    0.0      0
1     0.0  ...    0.0  0.0    0.0    0.0   0.0   0.0  0.0  0.0    0.0      0
2     0.0  ...    0.0  0.0    0.0    0.0   0.0   0.0  0.0  0.0    0.0      0
3     0.0  ...    0.0  0.0    0.0    0.0   0.0   0.0  0.0  0.0    0.0      0
4     0.0  ...    0.0  0.0    0.0    0.0   0.0   0.0  0.0  0.0    0.0      0

[5 rows x 1001 columns]

In [22]:
data.to_csv('tf_idf.csv', index=False)